<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spazedog.xposed.additionsgb"
    android:versionCode="67"
    android:versionName="3.5.5" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Xposed Additions"
        android:theme="@style/AppTheme" >
        
        <meta-data android:value="true" android:name="xposedmodule" />
        <meta-data android:value="30+" android:name="xposedminversion" />
        <meta-data android:value="Additional Settings for Gingerbread and up" android:name="xposeddescription" />
        
        <receiver android:name=".SettingsReceiver"> 
            <intent-filter>
                <action android:name="com.spazedog.xposed.additionsgb.ACTION_XSERVICE_SHUTDOWN" />
                <action android:name="com.spazedog.xposed.additionsgb.ACTION_XSERVICE_READY" />
            </intent-filter>
        </receiver>
        
        <service android:name=".ServiceTorch">
            <intent-filter>
                <action android:name="com.spazedog.xposed.additionsgb.TOGGLE_FLASHLIGHT" />
            </intent-filter>
        </service>
        
        <activity
            android:name=".ActivityMain"
            android:label="Xposed Additions"
            android:configChanges="orientation|screenSize" >

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            
        </activity>
        
        <activity android:label="@string/category_title_buttons" android:name=".ActivityScreenRemapMain" android:configChanges="orientation|screenSize" />
        <activity android:label="@string/category_title_buttons" android:name=".ActivityScreenRemapKey" android:configChanges="orientation|screenSize" />
        <activity android:label="@string/category_title_buttons" android:name=".ActivityScreenRemapCondition" android:configChanges="orientation|screenSize" />
        <activity android:label="@string/category_title_buttons" android:name=".ActivitySelectorRemap" android:configChanges="orientation|screenSize" />
        
        <activity android:label="@string/category_title_usbplug" android:name=".ActivityScreenUSB" android:configChanges="orientation|screenSize" />
        
        <activity android:label="@string/category_title_layout" android:name=".ActivityScreenLayout" android:configChanges="orientation|screenSize" />
        
        <activity android:label="@string/category_title_logviewer" android:name=".ActivityViewerLog" android:configChanges="orientation|screenSize" />
        
    </application>

</manifest>
