<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spazedog.xposed.additionsgb"
    android:versionCode="32"
    android:versionName="2.1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />
    
    <permission android:name="com.spazedog.xposed.additionsgb.permission.REQUEST" android:protectionLevel="dangerous" />
    
    <uses-permission android:name="com.spazedog.xposed.additionsgb.permission.REQUEST" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Xposed Additions"
        android:theme="@style/AppTheme" >
        
        <meta-data android:value="true" android:name="xposedmodule" />
        <meta-data android:value="30+" android:name="xposedminversion" />
        <meta-data android:value="Additional Settings for Gingerbread and up" android:name="xposeddescription" />
        
        <activity
            android:name="com.spazedog.xposed.additionsgb.ActivityMainSettings"
            android:label="Xposed Additions"
             android:configChanges="orientation|screenSize" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity android:label="@string/preference_title_remap" android:name="com.spazedog.xposed.additionsgb.ActivityRemapSettings" android:configChanges="orientation|screenSize">
            <action android:name="android.intent.action.VIEW" />
        </activity>
        
        <activity android:label="@string/preference_title_remap" android:name="com.spazedog.xposed.additionsgb.ActivityRemapButton" android:configChanges="orientation|screenSize">
            <action android:name="android.intent.action.VIEW" />
        </activity>
        
    </application>

</manifest>
